node_modules
.next
.env
data.db
data.db-wal
data.db-shm
dev.db
dev.db-wal
dev.db-shm
worker.js
server.pid
server.log
worker.js
src/lib/*.js
/patch_failsafe.js
*.tsbuildinfo

# Log files
system-update.log
logs/
